@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

:root {
    --Dark-01: #131313;
    --Dark-02: #424242;
    --Dark-03: #727272;
}

/* header section */

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 0 45px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 102px;
    margin: 0 12.5%;
}

header nav h1 {
    color: var(--Dark-01);
    font-size: 45px;
    font-weight: 700;
}

header nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    gap: 40px;
    list-style: none;
}

header nav ul li a {
    color: var(--Dark-02);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

header nav ul li a:hover {
    color: var(--Dark-01);
}

header section {
    margin: 0 12.5%;
    text-align: center;
}

.header-section-text {
    max-width: 862px;
    margin: 0 auto;
}

.header-section-text h1 {
    color: var(--Dark-01);
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 25px;
}

.header-section-text p {
    color: var(--Dark-03);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

header section a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    background: #ff900e;
    border-radius: 8px;
    margin-bottom: 50px;
    cursor: pointer;
}

header section img {
    width: 100%;
    border-radius: 8px;
}

/* main section */

main {
    margin: 0 12.5%;
    max-width: 75%;
}

.quick-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 76px;
    padding: 0 61px;
    margin: 85px 0 130px;
}

.quick-feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 58%;
}

.quick-feature-image img {
    width: 100%;
    border-radius: 8px;
}

.quick-feature-text {
    text-align: left;
    width: 42%;
}

.quick-feature-text h1 {
    color: var(--Dark-01);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.span-Quick-list {
    color: var(--Dark-03, #727272);
    font-weight: 500;
}

.span-Features {
    color: #ff900e;
}

.quick-feature-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--Dark-03);
    margin-bottom: 32px;
}

.quick-feature-text a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    background: #ff900e;
    border-radius: 8px;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 146px;
    margin-bottom: 130px;
}

.features-text {
    width: 40.6%;
}

.features-text h1 {
    color: var(--Dark-01);
    font-size: 45px;
    font-weight: 700;
    max-width: 468px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}

.features-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--Dark-03);
    margin-bottom: 10px;
}

.features-list {
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}

.features-list h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--Dark-01);
    margin-bottom: 10px;
}

.features-list p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--Dark-03);
}

.features-image {
    position: relative;
    width: 59.4%;
}

.features-image img {
    width: 100%;
    border-radius: 8px;
}

.float-text {
    padding: 45px 42px;
    background: #FF900E;
    border-radius: 8px;
    position: absolute;
    bottom: -77px;
    left: -92px;
}

.float-text h1 {
    font-size: 65px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.float-text p {
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.facts-text h1 {
    font-size: 45px;
    font-weight: 700;
    color: var(--Dark-01);
    margin-bottom: 24px;
}

.facts-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--Dark-03);
    max-width: 542px;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 24px;
    padding: 100px 3.7%;
}

.fact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
}

.fact-card img {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

.fact-card h3 {
    font-size: 45px;
    font-weight: 600;
    color: var(--Dark-02);
    margin-bottom: 5px;
}

.fact-card p {
    font-size: 20px;
    font-weight: 600;
    color: var(--Dark-03);
}

.sponsors {
    margin: 80px 0 130px;
}

.sponsors-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors-text h1 {
    font-size: 45px;
    font-weight: 700;
    color: var(--Dark-01);
    margin-bottom: 24px;
}

.sponsors-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--Dark-03);
    max-width: 542px;
    margin-bottom: 50px;
}

.sponsors-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 24px;
    filter: grayscale(100%);
    flex-wrap: wrap;
    width: 100%;
}

footer {
    margin: 0 12.5% 216px;
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 38px;
}

footer p {
    font-size: 20px;
    font-weight: 400;
    color: #424242;
}

/* media queries */

@media (max-width: 1400px) {
    .quick-feature {
        flex-direction: column;
    }

    .quick-feature-image {
        width: 100%;
    }

    .quick-feature-text {
        width: 100%;
    }

    .features-text {
        width: 50%;
    }

    .features-image {
        width: 50%;
    }

    .float-text {
        padding: 40px 36px;
        bottom: -67px;
        left: -82px;
    }

    .float-text h1 {
        font-size: 55px;
    }

    .float-text p {
        font-size: 20px;
    }

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1200px) {
    .features {
        flex-direction: column;
    }

    .features-text {
        width: 100%;
    }

    .features-image {
        width: 100%;
    }

    .float-text {
        padding: 35px 32px;
        bottom: -57px;
        left: -72px;
    }

    .float-text h1 {
        font-size: 45px;
    }

    .float-text p {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    header nav {
        flex-direction: column;
    }

    header nav h1 {
        margin-bottom: 20px;
    }

    header nav ul {
        gap: 20px;
    }

    .quick-feature-image {
        grid-template-columns: repeat(1, 1fr);
    }

    .float-text {
        padding: 30px 27px;
        bottom: -47px;
        left: -62px;
    }

    .float-text h1 {
        font-size: 40px;
    }

    .float-text p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .quick-feature {
        padding: 0px;
    }

    .float-text {
        padding: 25px 22px;
        bottom: -37px;
        left: -52px;
    }

    .float-text h1 {
        font-size: 35px;
    }

    .float-text p {
        font-size: 16px;
    }

    .facts-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 576px) {
    header nav h1 {
        font-size: 34px;
    }

    .header-section-text h1 {
        color: var(--Dark-01);
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    .quick-feature-text h1 {
        font-size: 34px;
    }

    .features-text h1 {
        font-size: 34px;
    }

    .float-text {
        padding: 20px 18px;
        bottom: -17px;
        left: -32px;
    }

    .float-text h1 {
        font-size: 30px;
    }

    .float-text p {
        font-size: 16px;
    }

    .facts-text h1 {
        font-size: 34px;
    }

    .sponsors-text h1 {
        font-size: 34px;
    }

    .sponsors-logo{
        justify-content: center;
    }
}